body {
    margin: 0;
}
.header {
    background-color: darkslategray;
    font-size: 16px;
}
.navbar-brand {
    font-size: 30px;
    font-weight: 200;
    color: #fff;
    text-transform: uppercase;
}
.navbar-brand b {
    font-weight: 900;
}
.nav-link {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}
.nav-link:hover,
.btn-su:hover {
    color: #ccc; !important;
}
.nav-link a:active{
    color: #c6b2c3;
}

.btn-su {
    padding-top: 5px;
    background-color: darkslategray;
    border: 1px solid black;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 10px;
    color: black;
}


.username {
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}

.border-black{
    border: 2px solid black;
}
.footer {
    background-color: #373c44;
    font-size: 14px;
    font-weight: 400;
    color: #aeb0b2;
    text-align: right;
}
